body {
    font-family: Roboto;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 20px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-bottom: 0;
}

.text_margin {
    margin-left: 34px;
    margin-right: 32px;
}

.text_flow {
    margin-bottom: 23px;
    text-align: left;
    width: 205px;
}

.text_settings {
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 11px;
}


.header__logo_white {
    display: none;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    justify-content: center;
}

.center-content {
    display: flex;
    justify-content: center;
}

.navbar {
    padding-top: 25px;
}
 /* .nav-item {
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #C4C4C4;
}

.navbar-nav {
    
    width: 100vw;
    height: 100vh;
    background-color: #2F3132;
}  */

.navbar-light .navbar-toggler {
    position: absolute;
    right: 25px;
}

.top {
    background: #E0E1E2;
    padding-bottom: 48px;
    
}

.top__text-margin {
    margin-left: 49px;
    margin-right: 59px;
}

.top__img {
    margin-top: 94px;
    height: 256px;
    background-image: url(img/MX-Master1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 41px;
    background-position: center;
}

.top__arrow {
    margin-top: 40px;
}

.top__svg {
    width: 42px;
    height: 22px;
}

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 22px;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
}

.bluetooth__img {
    height: 284px;
    background-image: url(img/High_Resolution_PNG-MXMaster3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    margin-top: 31px;
}



.info {
    padding-top: 70px;
    padding-bottom: 77px;
}

.info__item {
    border: 1px solid #2F3132;
    flex-basis: 166px;
    padding-left: 17px;
    padding-right: 17px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__content {
    margin-top: 30px;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.info__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.info_item-heading {
    margin-bottom: 5px;
}

.carousel {
    margin-bottom: 100px;
}

.info__text {
    margin-left: 67px;
    margin-right: 61px;
}

.flow {
    padding-top: 70px;
    padding-bottom: 218px;
    background-image: url(img/Lifestyle23461.png);
    background-color: #EDEDED;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.flow__ol {
    margin-top: 36px;
    margin-left: 54px;
}

.settings {
    padding-top: 70px;
    background: #EDEDED;
}

.settings__slider {
    margin: 35px 22px 95px 23px;
}

.settings__slider-img {
    display: none;
}

.settings__content {
    background: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.settings__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mouse__text {
    padding-top: 70px;
    padding-bottom: 20px;
}

.mouse__img_1 {
    background-image: url(img/image1.jpg);
    background-repeat: no-repeat;
    background-size: content;
    height: 310px;
    background-position: center;
}

.mouse__img_2 {
    background-image: url(img/image2.jpg);
    background-repeat: no-repeat;
    background-size: content;
    height: 310px;
    background-position: center;
}

.footer {
    background: #2F3132;
    color: #C7C8C8;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    padding: 22px 145px 37px 145px;
}

@media (min-width: 768px) {
    .top {
        
        padding-bottom: 80px;
    }

    .top__img {
        margin-top: 159px;
        height: 514px;
        margin-bottom: 124px;
    }

    .navbar {
        padding-top: 54px;
    }

    .header__logo {
        width: 240px;
    }

    .heading {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .text {
        font-size: 24px;
        line-height: 28px;
    }

    .top__text-margin {
        margin-left: 154px;
        margin-right: 155px;
    }

    .top__arrow {
        margin-top: 76;
    }

    .top__svg {
        width: 61px;
        height: 33px;
    }

    .bluetooth {
        padding-top: 80px;
    }

    .bluetooth__icon {
        margin-bottom: 39px;
    }

    .text_margin {
        margin-left: 77px;
        margin-right: 77px;
    }

    .bluetooth__heading {
        font-size: 150px;
        line-height: 176px;
    }

    /* изображение низко и откуда такой размер, у меня в макете 498 51:30*/
    .bluetooth__img {
        height: 586px;
        margin-left: 39px;
        margin-right: 19px;
        margin-top: 76px;
        padding-bottom: 3px;
    }

    .info__content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
        
    }

    .info__item {
        flex-basis: 300px;
        min-height: 170px;
    }

    .info_item-heading {
        margin-bottom: 5px;

    }

    .info__heading {
        font-size: 24px;
        line-height: 28px;
    }

    .info {
        padding-bottom: 61px;
    }

    .flow {
        padding-bottom: 498px;
        padding-left: 64px;
        padding-right: 65px;
    }

    .text_flow-p {
        margin-left: 0;
        margin-right: 0;
    }

    .flow__ol {
        display: flex;
        list-style-position: inside;
        margin-left: 0;
        padding-left: 0;
        margin-top: 80px;
    }

    .text_flow {
        width: auto;
        padding: 4px 21px 8px 28px;
        border-left: 1px solid #494949;
        font-size: 20px;
        line-height: 23px;
    }

    .text_flow:first-child {
        border-left: none;
        padding-left: 0;
    }

    .text_flow:last-child {
        padding-right: 0;
    }

    .settings {
        padding-bottom: 70px;
    }

    .settings__slider {
        margin: 54px 198px 148px 199px;
    }

    .settings__icons {
        margin-right: 104px;
        margin-left: 98px;
    }

    .settings__img {
        height: 35px;
    }

    .heading_settings {
        margin-left: 64px;
        margin-right: 65px;
    }

    .text_settings-p {
        margin-left: 64px;
        margin-right: 65px;
    }

    /* при прокручивании слайдера изменяется положение по вертикали settings__content (темный квадрат под слайдером) */

    .text__settings {
        font-size: 20px;
        line-height: 23px;
    }

    /* текст не встал как в макете по строчкам */

    /* изображения нужно давать браузеру на выбор с разными размерами и весом */

    .text_mouse {
        margin-left: 0;
        margin-right: 0;
        
    }

    .mouse__text {
        padding-left: 67px;
        padding-right: 64px;
        padding-bottom: 50px;
    }

    .mouse__img {
        height: 549px;
    }

    .mouse__img_1 {
        background-image: url(img/image\ 1\(1\).jpg);
    }

    .mouse__img_2 {
        background-image: url(img/image\ 2\(1\).jpg);
    }

    .footer {
        height: 150px;
        font-size: 14px;
        line-height: 16px;
        padding-top: 47px;
        padding-bottom: 71px;
    }



    /* .heading_mouse {
        padding-left: 100px;
        padding-right: 100px;
    } */

}

@media (min-width: 1024px) {
    .center {
        padding-left: calc(50% - 580px);
        padding-right: calc(50% - 580px);
    }

    .heading {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 35px;
    }

    .text {
        font-size: 20px;
        line-height: 23px;
    }

    .header {
        background: #2F3132;
        height: 100px;
        display: flex;
        align-items: center;
    }

    .header__logo_dark {
        display: none;
    }

    .header__logo_white {
        display: block;
        width: 150px;
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
    }

    .navbar-light .navbar-nav .nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        justify-content: space-between;
        padding: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .nav-item {
        padding-left: 21px;
        padding-right: 21px;
        border-right: 1px solid #494949
    }

    .nav-item:first-child {
        padding-left: 0;
    }

    .nav-item:last-child {
        padding-right: 00;
        border: none;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    .top__img {
        margin-top: 20px;
        background-image: url(img/MX-Master\ 1\ \(1\).png);
        height: 671px;
        padding-top: 80px;
        margin-bottom: 8px;
    }

    .top__arrow {
        margin-top: 49px;
    }

    .bluetooth__img {
        height: 427px;
        background: url(img/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ GRAPHITE\ 1.png) no-repeat 0 119px, url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1\ \(1\).png) no-repeat right 119px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 14px;       
    }

    .center_bluetooth {
        padding-left: calc(50% - 622px);
        padding-right: calc(50% - 622px);
    }

    .bluetooth {
        padding-bottom: 69px;
    }

    .bluetooth__heading {
        font-size: 96px;
        line-height: 112px;
        display: flex;
        justify-content: center;
    }

    .bluetooth__heading_day {
        font-size: 300px;
        line-height: 352px;
        padding-left: 73px;
    }

    .bluetooth__heading_day-mini {
        padding-top: 45px;

    }

    .info {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .info__text {
        width: 765px;
        margin: auto;
    }

    .info__item {
        min-height: 140px;
        padding-right: 24px;
        padding-left: 24px;
        
    }

    .info__content {
        gap: 32px;
    }

    .info_item-heading {
        margin-bottom: 5px;
    }

    .info__slider {
        padding-left: calc(50% - 640px);
        padding-right: calc(50% - 640px);
    }

    .info__heading {
        font-size: 20px;
        line-height: 23px;
    }

    .flow {
        padding-top: 100px;
        padding-bottom: 870px;
        background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1\ \(2\).png);
        min-height: 1332px;
    
    }

    .flow__ol {
        margin-top: 69px;
        margin-left: 15px;
    }

    /* кривенько левый отступ в списке
    } */

    .flow_center {
        padding-left: calc(50% - 479px);
        padding-right: calc(50% - 479px);
    }

    .settings__slider {
        display: none;
    }

    .settings {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .text_settings-p {
        width: 958px;
        margin: auto;
    }

    .settings__slider-img {
        margin-top: 72px;
        display: flex;
        justify-content: center;
    }

    .settings__content {
        width: 749px;
        margin: auto;
    }

    .mouse {
        display: flex;
        flex-wrap: wrap;
    }

    .mouse_center {
        padding-left: calc(50% - 655px);
        padding-right: calc(50% - 655px);
    } 

    .mouse__item {
        height: 557px;
        width: 50%;     
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mouse__text_1 {
        padding-right: 217px;
        order: 1;
    }

    .mouse__text_1 .heading {
        text-align: left;   
    }

    .mouse__text_1 .text {
        text-align: left; 
    }

    .mouse__text_2 {
        padding-left: 217px;
        order: 2;
    }

    .mouse__text_2 .heading {
        text-align: right;
    }

    .mouse__text_2 .text {
        text-align: right; 
    }

    .mouse__img_1 {
        order: 0;
        background-image: url(img/image11.png);
    }

    .mouse__img_2 {
        order: 3;
        background-image: url(img/image22.png);
    }




    
   
}